<launch>
  <arg name="bag_path" default="$(find tcrlm)/datasets/update_bag1.bag"/>
  <arg name="bag_rate" default="1.0"/>
  <arg name="bag_start" default="0.0"/>
  <arg name="bag_delay" default="3.0"/>
  <arg name="raw_points_topic" default="/carla/sensor_mount/lidar/merged"/>
  <arg name="params_file" default="$(find tcrlm)/config/tcrlm.yaml"/>
  <arg name="update_params_file" default="$(find tcrlm)/config/keyframe_update.yaml"/>
  <arg name="rviz_config" default="$(find tcrlm)/rviz/tcrlm.rviz"/>

  <rosparam command="load" file="$(arg params_file)"/>
  <rosparam command="load" file="$(arg update_params_file)"/>
  <param name="use_sim_time" value="true"/>
  <param name="tcrlm/pointCloudTopic" value="$(arg raw_points_topic)"/>
  <param name="tcrlm/usePreprocessFilterMask" value="false"/>
  <param name="tcrlm/terrainChangeHeightAxis" value="-x"/>
  <param name="tcrlm/enableTerrainChangeMaintenance" value="true"/>
  <param name="tcrlm/terrainChangePublishCandidateClouds" value="true"/>

  <node pkg="tcrlm" type="tcrlm_range_image_projection_and_deskew"
        name="tcrlm_range_image_projection_and_deskew" output="screen" required="true"/>
  <node pkg="tcrlm" type="tcrlm_feature_extraction"
        name="tcrlm_feature_extraction" output="screen" required="true"/>
  <node pkg="tcrlm" type="tcrlm_mapping"
        name="tcrlm_mapping" output="screen" required="true"/>
  <node pkg="tcrlm" type="tcrlm_terrain_change"
        name="tcrlm_terrain_change" output="screen" required="true"/>
  <node pkg="rviz" type="rviz" name="tcrlm_rviz"
        args="-d &quot;$(arg rviz_config)&quot;" output="screen"/>
  <node pkg="rosbag" type="play" name="tcrlm_keyframe_update_bag" output="screen"
        args="--clock --delay=$(arg bag_delay) --rate=$(arg bag_rate) --start=$(arg bag_start) &quot;$(arg bag_path)&quot;"/>
</launch>
